<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reservation</title>
    <link rel="stylesheet" href="/css/login-form.css" />
</head>
<body>
<div class="div1">

    <h2 style="padding: 20px;">Sign-In</h2>

    <form action="/user-page" method="post">

            <span class="container">
                <input id="uname" type="text" placeholder="Enter Username" name="username" required>
                <input id="psw" type="password" placeholder="Enter Password" name="password" required>

                <label style="font-size: 12px; color: gray; padding: 10px;">
                    <input type="checkbox" checked="checked" name="remember"> Keep me Signed in</label>
                <span class="button-span">
                    <button type="submit">Login</button>
                </span>
            </span>
    </form>
    <p th:if="model" th:text="${message}"></p>

    <div class="div2">
        <a href=PasswordRecovery>Forgot password?</a>
    </div>
</div>

</body>
</html>
